server:
  bind: ":8181"
  public: "https://pay.example.com"

bot:
  token: "YOUR_BOT_TOKEN"

database:
  type: sqlite
  sqlite:
    path: ./data/hashpay.db
  mysql:
    host: localhost
    port: 3306
    database: hashpay
    username: root
    password: ""
